.moviesContainer {
  height: 500px;
  //border: 1px solid red;
}


.movie-poster img {
  max-width: 300px;
  height: auto;
  margin-left: 6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
}


#back-btn,
#like-btn {
  margin: 1rem;
  padding: 5px 20px;
}

span {
  font-size: 1.1rem;
}

.label {
  font-weight: bold;
  padding-right: 0.5rem;
}